body {
    font-family: 'Georgia', serif;
    background-color: #fffaf0; /* Fildişi Renk */
    color: #800020; /* Bordo */
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: #ff6f61; /* Pembe Renk */
    color: #fff;
    padding: 20px;
    top: 0;
    width: 100%;
    z-index: 1000;
}

main {
    margin: 0;
}

.gallery-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.gallery-item .content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 1000px; /* Maximum width of gallery item */
    flex-direction: column; /* Default layout for larger screens */
}

.gallery-item:nth-child(odd) .content {
    flex-direction: row; /* Left image, right text for odd items */
}

.gallery-item:nth-child(even) .content {
    flex-direction: row-reverse; /* Right image, left text for even items */
}

.gallery-item img {
    width: 20vw; /* 20% of viewport width */
    height: 20vw; /* Equal height for a square */
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.gallery-item .text-container {
    padding: 20px;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    border-radius: 10px;
    width: 70%; /* Adjust text container width */
    margin-top: 20px;
}

footer {
    background-color: #b22222; /* Ateş Tuğlası Kırmızı */
    color: #fff;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Snowflakes */
.snowflake {
    position: fixed;
    top: -10px;
    z-index: 9999;
    user-select: none;
    pointer-events: none;
    color: white;
    font-size: 1em;
    will-change: transform;
    animation: fall linear infinite;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}

/* Responsive Styles */
@media (max-width: 768px) {
    .gallery-item {
        flex-direction: column; /* Stack images and text on small screens */
        text-align: center;
    }

    .gallery-item img {
        width: 40vw; /* Adjust image size for smaller screens */
        height: 40vw;
    }

    .gallery-item .text-container {
        width: 80%; /* Make the text container take up more space */
    }

    header {
        padding: 15px;
    }
}
